.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
  width: 100%;
}
.row{
  font-family:"游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}
h3{
  text-align: center;
  text-indent: 2px;
}

.who{
    height: auto;
    background-color:#5ACE5A;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    padding-left: 10px;
}
.who2{
  font-weight: 800;
  
}
.btn{
  float: right;
}
.form-group{
  padding:10px;
  font-size: 15px;
}